@page
@model furShop.Pages.AddProduct

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Добавить продукт</title>
    <link rel="stylesheet" href="~/css/reg.css">
</head>
<body>
<div>
    <header>
        <h2><p><a href="/Index">Главная страница</a></p></h2>
        <h2><p><a href="/Basket">Корзина</a></p></h2>
        <h2><p><a href="/Catalog">Каталог</a></p></h2>
        <h2><p><a href="/Login">Авторизоваться</a></p></h2>
    </header>
    <div class="line"></div>
    <div class="model">@Model.Message</div>
    <div class="containerCatalog">
        <form method="post" enctype="multipart/form-data">
            <p><label>Название</label></p>
            <p><input type="text" name="name"/></p>
            <p><label>Описание</label></p>
            <p><input type="text" name="description"/></p>
            <p><label>Цена</label></p>
            <p><input type="integer" name="price"/></p>
            <p><label>Фото</label></p>
            <p><input type="file" name="imageFile"/></p>
            <input type="submit" value="Добавить"/>
        </form>
    </div>
</div>
</body>
</html>